#What is Pandas?

*Pandas is a Python library used for working with data sets.


*It has functions for analyzing, cleaning, exploring, and manipulating data.

#why pandas?

*Import datasets(csv,excel)

*Data cleaning(missing values & invalid values)

*size mutability(easy to add & delete column)

*Reshaping and pivoting of data sets.

*Efficient manipulation and extraction.

*statistical analysis.

Data structures are collection of data types that provide the best way of organizing items(values) in terms of memory usage.

Primary Data structures

*Series: A one-dimensional labeled homogeneous array(of the same datatype).size immutable.

*Dataframe: A two dimensional labeled,size-mutable tabular structure with potentially heterogeneously typed columns.

In [2]:
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd

mydataset=pd.DataFrame({
     'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}   )
print(mydataset)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
import pandas as pd

In [5]:
s = pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
s.dtype
s=pd.Series([10,20,30,40,50])
s.dtype     #To check the data type

dtype('int64')

In [7]:
s.values    #to check the values in the series

array([10, 20, 30, 40, 50])

In [8]:
s.index      #start(included) : stop(exculuded) : step(jumps to that value)

RangeIndex(start=0, stop=5, step=1)

In [9]:
print(s.name) #default name is none

None

In [10]:
s.name = "calories"    #kinda name of the table

In [11]:
s

0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

In [12]:
# Indexing

s[0]

np.int64(10)

In [13]:
s[0:2] #start(included) : stop (excluded): step value (values to jump)

0    10
1    20
Name: calories, dtype: int64

In [14]:
s[2:4]

2    30
3    40
Name: calories, dtype: int64

In [15]:
# iloc -> location based indexing(starts from 1)

s.iloc[3]

np.int64(40)

In [16]:
s.iloc[[1,3,4]] #prints all the values mentioned

1    20
3    40
4    50
Name: calories, dtype: int64

In [17]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [18]:
import pandas as pd

myvar=pd.Series([1,2,3,4], index=["a","b","c","d"])
print(myvar)

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
#we can also use a key/value object like a dictionary
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [20]:
index = ["apple", "banana", "grapes", "orange", "strawberry"]

In [21]:
s.index = index
s

apple         10
banana        20
grapes        30
orange        40
strawberry    50
Name: calories, dtype: int64

In [22]:
s['grapes']

np.int64(30)

In [23]:
s.iloc[3]     #do not use this

np.int64(40)

In [24]:
#loc (locate row)-> label based indexing.
#Pandas use the loc attribute to return one or more specified row(s)

s.loc[['grapes', 'apple']]

grapes    30
apple     10
Name: calories, dtype: int64

In [25]:
# In label based indexing your start as well as stop value both are included in the output.
s['banana':'orange']

banana    20
grapes    30
orange    40
Name: calories, dtype: int64

In [101]:
#iloc - iloc is an indexer used for integer location based indexing of data in a DataFrame.
#it allows users to select specific rows and columns by providing integer indices.

import pandas as pd
data = pd.DataFrame({
    'Name': ['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]})

 # Setting 'Name' column as the index for clarity
data.set_index('Name', inplace=True)
print(data)

# Extracting a single row by index
row_alice = data.iloc[0, :]
print(row_alice)

# Extracting multiple rows using a slice
rows_geek2_to_geek3 = data.iloc[1:3, :]
print("\nExtracted Rows (Geek2 to Geek3):")
print(rows_geek2_to_geek3)

       Age  Salary
Name
Geek1   25   50000
Geek2   30   60000
Geek3   22   45000
Geek4   35   70000
Geek5   28   55000
Age          25
Salary    50000
Name: Geek1, dtype: int64

Extracted Rows (Geek2 to Geek3):
       Age  Salary
Name
Geek2   30   60000
Geek3   22   45000

In [27]:
#Series is like a column, a DataFrame is the whole table
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [28]:
fruit_protein = {
    "Avocado": 2.0,       # grams of protein
    "Guava": 2.6,
    "Blackberries": 2.0,
    "Oranges": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0
}

In [29]:
s2 = pd.Series(fruit_protein, name = "Protein")
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protein, dtype: float64

In [30]:
# Conditional Selection:

s2[s2>1]   #to get in boolean values use s2>1

Avocado         2.0
Guava           2.6
Blackberries    2.0
Banana          1.1
Kiwi            1.1
Pomegranate     1.7
Name: Protein, dtype: float64

In [31]:
# Logical Operators: and, or, not

s2[(s2>0.5) | (s2 <= 2)]

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protein, dtype: float64

In [32]:
# not operation:

s2[~(s2>1)]

Oranges     0.9
Apples      0.3
Mango       0.8
Cherries    1.0
Name: Protein, dtype: float64

In [33]:
# Modyfying the series:

s2["Mango"] = 2.8

In [34]:
s2

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           2.8
Cherries        1.0
Name: Protein, dtype: float64

In [35]:
import numpy as np

In [36]:
ser = pd.Series(['a', np.nan, 1, np.nan, 2])
s.notnull().sum()

np.int64(5)

In [37]:
# DataFrame:

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}

In [38]:
data

{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice'],
 'Age': [25, 30, 35, nan, 29, 25],
 'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'HR'],
 'Salary': [50000, 60000, 70000, 62000, nan, 50000]}

In [39]:
df = pd.DataFrame(data)
df

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [40]:
df.head(2)   #prints the first 2 values

    Name   Age Department   Salary
0  Alice  25.0         HR  50000.0
1    Bob  30.0         IT  60000.0

In [41]:
df.tail(3)  #prints the last 3 values

    Name   Age Department   Salary
3  David   NaN         IT  62000.0
4    Eve  29.0         HR      NaN
5  Alice  25.0         HR  50000.0

In [42]:
# loc and iloc
df.iloc[1:3]

      Name   Age Department   Salary
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0

In [43]:
df.iloc[1:3, :2] #rows, columns

      Name   Age
1      Bob  30.0
2  Charlie  35.0

In [44]:
df.loc[1:2, ["Age","Department"]]

    Age Department
1  30.0         IT
2  35.0    Finance

In [45]:
df[["Age", "Department"]]

    Age Department
0  25.0         HR
1  30.0         IT
2  35.0    Finance
3   NaN         IT
4  29.0         HR
5  25.0         HR

In [46]:
df.drop("Age", axis = 1)    #use inplace=TRUE to show the change in original table

      Name Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie    Finance  70000.0
3    David         IT  62000.0
4      Eve         HR      NaN
5    Alice         HR  50000.0

In [47]:
df   #deleting age didnt show here because we have to use inplace=TRUE to show the change in original place

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [48]:
df.shape

(6, 4)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Age         5 non-null      float64
 2   Department  6 non-null      object
 3   Salary      5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 324.0+ bytes

In [50]:
df.describe()  #we get the basic aggregations

             Age        Salary
count   5.000000      5.000000
mean   28.800000  58400.000000
std     4.147288   8532.291603
min    25.000000  50000.000000
25%    25.000000  50000.000000
50%    29.000000  60000.000000
75%    30.000000  62000.000000
max    35.000000  70000.000000

In [51]:
# Broadcasting

df["Salary"] = df["Salary"] + 5000

In [52]:
df["Salary"]

0    55000.0
1    65000.0
2    75000.0
3    67000.0
4        NaN
5    55000.0
Name: Salary, dtype: float64

In [53]:
# Renaming columns:

df.rename(columns = {"Department": "Dept"}, inplace = True)

In [54]:
df

      Name   Age     Dept   Salary
0    Alice  25.0       HR  55000.0
1      Bob  30.0       IT  65000.0
2  Charlie  35.0  Finance  75000.0
3    David   NaN       IT  67000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  55000.0

In [55]:
df["Dept"].unique()

array(['HR', 'IT', 'Finance'], dtype=object)

In [56]:
df["Dept"].value_counts()   #counts for each value

Dept
HR         3
IT         2
Finance    1
Name: count, dtype: int64

In [57]:
df["Promoted Salary"] = df["Salary"] * 10

In [58]:
df

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0         750000.0
3    David   NaN       IT  67000.0         670000.0
4      Eve  29.0       HR      NaN              NaN
5    Alice  25.0       HR  55000.0         550000.0

#DATA CLEANING

*Data cleaning means fixing bad data in your data set.


Bad data could be:

*Empty cells

*Data in wrong format

*Wrong data

*Duplicates

In [59]:


df.isnull().sum()

Name               0
Age                1
Dept               0
Salary             1
Promoted Salary    1
dtype: int64

#Cleaning Empty cells

*Empty cells can potentially give you a wrong result when you analyze data.

*Remove Rows.

*One way to deal with empty cells is to remove rows that contain empty cells.

*This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [60]:
import pandas as pd

#df = pd.read_csv('data.csv')
#new_df = df.dropna()
#print(new_df.to_string())

#he dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:

In [61]:
df.dropna(how = "any") # any row that had any null value

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0         750000.0
5    Alice  25.0       HR  55000.0         550000.0

In [62]:
df.dropna(how = "all") #if all the values in any row are null then we drop that row

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0         750000.0
3    David   NaN       IT  67000.0         670000.0
4      Eve  29.0       HR      NaN              NaN
5    Alice  25.0       HR  55000.0         550000.0

In [63]:
df

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0         750000.0
3    David   NaN       IT  67000.0         670000.0
4      Eve  29.0       HR      NaN              NaN
5    Alice  25.0       HR  55000.0         550000.0

In [64]:
#Replace Empty Values

#Another way of dealing with empty cells is to insert a new value instead
#This way you do not have to delete entire rows just because of some empty cells.
#The fillna() method allows us to replace empty cells with a value.

In [65]:
import pandas as pd

#df = pd.read_csv('data.csv')
#df.fillna(130, inplace = True)

#Replace NULL values with the number 130:

In [66]:
#Replace Only For Specified Columns

#he example above replaces all empty cells in the whole Data Frame.
#To only replace empty values for one column, specify the column name for the DataFrame:

import pandas as pd

#df = pd.read_csv('data.csv')
#df.fillna({"Calories": 130}, inplace=True)

In [67]:
#Replace Using Mean, Median, or Mode

#A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
#Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [68]:
import pandas as pd

#df = pd.read_csv('data.csv')
#x = df["Calories"].mean()
#df.fillna({"Calories": x}, inplace=True)

In [69]:
df["Name"].replace("charlie","Rose")

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
5      Alice
Name: Name, dtype: object

In [70]:
df["Name"]=df["Name"] = df["Name"].replace("charlie","Rose")   #changes in the original dataset as well
df

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0         750000.0
3    David   NaN       IT  67000.0         670000.0
4      Eve  29.0       HR      NaN              NaN
5    Alice  25.0       HR  55000.0         550000.0

#Cleaning Wrong Formats

*Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

*To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

In [71]:
#Removing Rows

#df.dropna(subset=['Date'], inplace = True)  #Remove rows with a NULL value in the "Date" column:

In [72]:
#try to convert all cells in the 'Date' column into dates.
#Pandas has a to_datetime() method for this:

#df = pd.read_csv('data.csv')
#df['Date'] = pd.to_datetime(df['Date'], format='mixed')
#print(df.to_string())

#FIXING WRONG DATA

*"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

In [73]:
#Replacing Values
#One way to fix wrong values is to replace them with something else.

#df.loc[7, 'Duration'] = 45    #Set "Duration" = 45 in row 7

#for x in df.index:
  #if df.loc[x, "Duration"] > 120:
    #df.loc[x, "Duration"] = 120      #If the value is higher than 120, set it to 120

In [74]:
#Removing Rows
#Another way of handling wrong data is to remove the rows that contains wrong data.

#This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

#for x in df.index:
   #if df.loc[x, "Duration"] > 120:
      #df.drop(x, inplace = True)

#DUPLICATE VALUES

In [75]:
#Duplicates - Duplicate rows are rows that have been registered more than one time.
#Returns True for every row that is a duplicate, otherwise False:

df_dup=df[df.duplicated()]  #can add keep="first" - shows the last duplicated value
df_dup

    Name   Age Dept   Salary  Promoted Salary
5  Alice  25.0   HR  55000.0         550000.0

In [76]:
#to delete the duplicated value

df_dup=df[df.duplicated(keep="last")]
df_dup

    Name   Age Dept   Salary  Promoted Salary
0  Alice  25.0   HR  55000.0         550000.0

In [77]:
#To remove duplicates, use the drop_duplicates() method.

df.drop_duplicates(inplace = True)   #Remove all duplicates:

#The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame

In [78]:
#Invalid values
#Lambda ->python

df["Promoted Salary"]=df["Promoted Salary"].apply(lambda x:x/10 if x>650000 else x)
df

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0          75000.0
3    David   NaN       IT  67000.0          67000.0
4      Eve  29.0       HR      NaN              NaN

In [79]:
#name="alice_fernandes" #to change the name which has first and last name
#df[["first_name","last_name"]] = df["name"].str.split("_")

In [80]:
#apply and lambda

def multiplying_age(x):
   return x*2
df["Age"] = df["Age"].apply(multiplying_age)
df

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  50.0       HR  55000.0         550000.0
1      Bob  60.0       IT  65000.0         650000.0
2  Charlie  70.0  Finance  75000.0          75000.0
3    David   NaN       IT  67000.0          67000.0
4      Eve  58.0       HR      NaN              NaN

In [81]:
df["Age"] = df["Age"].apply(lambda x:x/2)

df    #back to the original values

      Name   Age     Dept   Salary  Promoted Salary
0    Alice  25.0       HR  55000.0         550000.0
1      Bob  30.0       IT  65000.0         650000.0
2  Charlie  35.0  Finance  75000.0          75000.0
3    David   NaN       IT  67000.0          67000.0
4      Eve  29.0       HR      NaN              NaN

In [82]:
df["Age"].fillna(df["Age"].mean())

0    25.00
1    30.00
2    35.00
3    29.75
4    29.00
Name: Age, dtype: float64

In [83]:
df["Salary"].fillna(df["Salary"].median())

0    55000.0
1    65000.0
2    75000.0
3    67000.0
4    66000.0
Name: Salary, dtype: float64

In [84]:
df["Age"].fillna(method = "ffill")

/tmp/ipython-input-544980945.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "ffill")

0    25.0
1    30.0
2    35.0
3    35.0
4    29.0
Name: Age, dtype: float64

In [85]:
df["Age"].fillna(method = "bfill")

/tmp/ipython-input-3026805218.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Age"].fillna(method = "bfill")

0    25.0
1    30.0
2    35.0
3    29.0
4    29.0
Name: Age, dtype: float64

In [86]:
df["Name"] = df["Name"].replace("Charlie", "Rose")

In [87]:
df

    Name   Age     Dept   Salary  Promoted Salary
0  Alice  25.0       HR  55000.0         550000.0
1    Bob  30.0       IT  65000.0         650000.0
2   Rose  35.0  Finance  75000.0          75000.0
3  David   NaN       IT  67000.0          67000.0
4    Eve  29.0       HR      NaN              NaN

In [88]:
# Joins and Merges

department_info = {
    "Dept": ["HR", "IT", "Finance"],
    "Location": ["New York", "San Francisco", "Chicago"],
    "Manager": ["Laura", "Steve", "Nina"]
}

df2 = pd.DataFrame(department_info)
df2

      Dept       Location Manager
0       HR       New York   Laura
1       IT  San Francisco   Steve
2  Finance        Chicago    Nina

In [89]:
# Concat

pd.concat([df, df2])   #adds 2 dataframes

    Name   Age     Dept   Salary  Promoted Salary       Location Manager
0  Alice  25.0       HR  55000.0         550000.0            NaN     NaN
1    Bob  30.0       IT  65000.0         650000.0            NaN     NaN
2   Rose  35.0  Finance  75000.0          75000.0            NaN     NaN
3  David   NaN       IT  67000.0          67000.0            NaN     NaN
4    Eve  29.0       HR      NaN              NaN            NaN     NaN
0    NaN   NaN       HR      NaN              NaN       New York   Laura
1    NaN   NaN       IT      NaN              NaN  San Francisco   Steve
2    NaN   NaN  Finance      NaN              NaN        Chicago    Nina

In [90]:
pd.concat([df, df2], axis = 1)

,Name,Age,Dept,Salary,Promoted Salary,Dept,Location,Manager
0,Alice,25.0,HR,55000.0,550000.0,HR,New York,Laura
1,Bob,30.0,IT,65000.0,650000.0,IT,San Francisco,Steve
2,Rose,35.0,Finance,75000.0,75000.0,Finance,Chicago,Nina
3,David,NaN,IT,67000.0,67000.0,NaN,NaN,NaN
4,Eve,29.0,HR,NaN,NaN,NaN,NaN,NaN

In [91]:
pd.merge(df, df2, on = "Dept")   #dept appears only once

    Name   Age     Dept   Salary  Promoted Salary       Location Manager
0  Alice  25.0       HR  55000.0         550000.0       New York   Laura
1    Bob  30.0       IT  65000.0         650000.0  San Francisco   Steve
2   Rose  35.0  Finance  75000.0          75000.0        Chicago    Nina
3  David   NaN       IT  67000.0          67000.0  San Francisco   Steve
4    Eve  29.0       HR      NaN              NaN       New York   Laura

Importing File

In [92]:
#A simple way to store big data sets is to use CSV files (comma separated files).
#CSV files contains plain text and is a well know format that can be read by everyone including Panda.

In [93]:
#data = pd.read_csv("data.csv")  #pass the path in the bracket or upload in the colab then access it
#data.head()   #method for getting a quick overview of the DataFrame
#data.tail()   # is also a tail() method for viewing the last rows of the DataFrame.
#data.shape()
#data.info()       #prints the information about the data.
#data['date'] = pd.to_datetime(data['date'])
#data.info()

In [94]:
import pandas as pd

print(pd.options.display.max_rows)

#You can check your system's maximum rows with the pd.options.display.max_rows statement

60

In [95]:
import pandas as pd

#pd.options.display.max_rows = 9999
#df = pd.read_csv('data.csv')
#print(df)

#Increase the maximum number of rows to display the entire DataFrame

In [96]:
#Read JSON - JSON objects have the same format as Python dictionaries.
#Big data sets are often stored, or extracted as JSON.

#JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

import pandas as pd
#df = pd.read_json('data.json')
#print(df.to_string())    #use to_string() to print the entire dataframe.

#Data Correlations

*The corr() method calculates the relationship between each column in your data set.

*The corr() method ignores "not numeric" columns.

In [97]:
#df.corr()

In [98]:
#create a series names population containing city names as index and population values as data.

import pandas as pd


s=pd.Series([10,20,30,40,50],index=["chennai","usa","switzerland","paris","dubai"])
s.name="population"
s

chennai        10
usa            20
switzerland    30
paris          40
dubai          50
Name: population, dtype: int64

In [99]:
s[s>10].index

Index(['usa', 'switzerland', 'paris', 'dubai'], dtype='object')

In [102]:
import pandas as pd

import pandas as pd

# Create DataFrame
students = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105, 106],
    'Name': ['Aarav', 'Diya', 'Kabir', 'Ishita', 'Rohan', 'Meera'],
    'Age': [18, 19, 20, 18, 21, 19],
    'CGPA': [8.7, 9.2, 7.9, 8.5, 9.6, 8.1]
})

print(students)
result = students.loc[students['CGPA'] >= 8.5, ['Name', 'CGPA']]
print("\nStudents with CGPA  8.5:\n")
print(result)

   Student_ID    Name  Age  CGPA
0         101   Aarav   18   8.7
1         102    Diya   19   9.2
2         103   Kabir   20   7.9
3         104  Ishita   18   8.5
4         105   Rohan   21   9.6
5         106   Meera   19   8.1

Students with CGPA  8.5:

     Name  CGPA
0   Aarav   8.7
1    Diya   9.2
3  Ishita   8.5
4   Rohan   9.6